*
{
	max-width: 1500px;
	margin-right: auto;
	margin-left: auto;
	
}

*
{
	background-color:transparent;
}
body
{
	font-family: helvetica,verdana, arial, sans-serif;
	width: 100em;
	display: flex;
	flex-direction: column;
}
/* ========================= HEADER ============================================================ */
header
{
	display: flex;
	width: 100em;
}

.cadrephoto
{
	display: flex;
	height: 325px;
	width: 32em;
	justify-content: flex-start;
	align-items: center;
	background-color: #FFCA28;
}

header img
{
	border-radius: 50%;
	border: 4px solid #c69f14;
	width: 215px;

}
.cadrenom
{
	display: flex;
	align-items: center;
	width: 68%;
}
.nom_prenom
{
	text-align: left;
	margin-left: 5em;

}

header h1, header h2
{
	font-weight: normal;
	font-size: 200%;
}
header h1
{
	font-size: 280%;
}
header span
{
	color: #feca07;
}
header h2
{
	color: #4a4a4a;
	margin-top: -20px;
}
header h2 u
{
	text-decoration-color: #feca07
}



/* ========================= Général ====================================================== */

.corps
{
	display: flex;
	flex-direction: row;
	width: 100em;
}


/* ========================= ASIDE ========================================================= */

aside
{
	width: 32em;
	text-align: justify;
	background-color: #feca07;


}

aside h1
{
	display:flex;
	justify-content: center;
	align-items: center;
	background-color: #404040;
	color: #feca07;
	height: 45px;
}

aside p
{
	padding-left: 45px;
	padding-right:45px;
}
.contact
{
	padding-top: 10px;
	padding-bottom: 10px;
}
.a_propos_de_moi
{
	padding-top: 10px;
	padding-bottom: 10px;
}
.loisirs
{
	text-align: center;
	font-size: 30px;
	padding-top: 10px;
	padding-bottom: 10px;
}
.loisirs i
{
	border:#404040 solid 5px;
	padding-top: 25px;
	padding-bottom: 20px;
	padding-left: 20px;
	padding-right: 20px;
	border-radius: 50%;
	margin-bottom:20px;
	color: #404040;
}

/* ========================= SECTIONS Colonne de droite ============================================== */
.div_generale
{
	width: 68%;
}

section /*blocs */
{
	margin-left: 60px;
	margin-right: 50px;
}

section h1 i  /* icones à coté des grands titres */
{
	color: #feca07;
	margin-right: 20px;
	font-size: 70px;
}

section h1 /*grands titres (formation, expérience pro, recommandation)+tous les h1*/
{
	color: black;
	border-bottom: 4px solid #feca07;
}
.formation
{
	font-size: 40px;
}
.exppro
{
	font-size: 40px;
}

.recom
{
	font-size: 40px;
}
/**********************************reglage ligne colonne droite/gauche*********************/
.ligne
{
	display: flex;
	flex-direction: row;
	margin-left: 1%;
	margin-right: -5%;
	margin-bottom: 5%;
}

.gauche
{
	margin-left: 0;
	margin-right: 20px;
	padding-right: 5px;
	min-width: 250px;
	max-width: 250px;
	font-size: large;
	
}


.droite
{
	margin-right: auto;
	font-size: normal;
	margin-left: 0;

}
.recommandations
{
	display: flex;
	flex-direction: row;
	margin-bottom: 50px;
}
.recommandations p
{
	font-size: large;
	margin-top: 15px;
}

ul{
	list-style-type: none;
	color: #4a4a4a;
	font-size: x-large;
	font-weight: bold;
}

ul li:not(.puce_speciale):before /*Toutes puce à part les première (balise .puce_spéciale)*/
{
	content: "\2022";
	margin-right: 10px;
	color: #feca07;
	font-weight: bold;
	font-size: xx-large;
	margin-left: -19px;
}

.puce_speciale
{
	list-style-image: url(content/images/dot-circle-regular.svg);
}
/***********************colonne de droite*******************************/
section div h1
{
	color: #4a4a4a;
	border-bottom: none;
}

section div h2
{
	color: #4a4a4a;
	font-weight: lighter;
	font-size: x-large;
	margin-top: -0.5%;
}

section div p
{
	color: #4a4a4a;
	text-align: justify;
	margin-top: -0.5%;
	font-size: large;
	
}

/***************************les liens dans la colonne de droite **************************/
section div p a
{
	text-decoration:none;
}
section div p a:hover
{
	color: orangered !important;
	
}
section div p a:visited
{
	color: initial;
}